<h1>Deck Cards</h1>

[ <a href="/">Home</a> | <a href="/players">Players</a> | <a href="/matches">Matches</a> | <a href="/decks">Decks</a> | <a href="/cards">Cards</a> | <a href="/deck_cards">Deck_Cards</a> ]

<div id="browse">
<!-- Make this a button?-->
<p><a href="#" onClick="newDeckCard()">New Deck Card(s)</a></p>
<p>
    <label> Filter by Deck ID: </label> <select name="FilterByDeckID">
        <option value="0" selected>Select a DeckID...</option>
        <option value="1">1 - Larvene37</option>
        <option value="2">2 - DistanceShock</option>
        <option value="3">3 - DistanceShock</option>
        <option value="4">4 - Reqaz1a</option>
    </select>
</p>

<table border="1" cellpadding="5">
  <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.DeckID}}</td>
            <td>{{this.Card_Name}}</td>
			<td>{{this.Qty}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<p>&nbsp;</p>
</div> <!-- browse -->

<div id="insert">
    <form method="POST" id="add-deck-card-form" action="/add-deck-card">
      <p></p>
        <legend><strong>Add Deck</strong></legend>
          <fieldset class="fields">
            <label>Deck ID: </label> <select name="deckid-input" id="deckid-input">
                {{!-- <option value="0" selected>Select a DeckID...</option> --}}
                <option value="1">1 - Larvene37</option>
                <option value="2">2 - DistanceShock</option>
                <option value="3">3 - DistanceShock</option>
                <option value="4">4 - Reqaz1a</option>
            </select>
            <label>Card ID: </label> <select name="cardid-input" id="cardid-input">
                {{!-- <option value="0" selected>Select a CardID...</option> --}}
                <option value="1">1 - Spiky Boy</option>
                <option value="2">2 - Bat</option>
                <option value="3">3 - Sear Sword</option>
                <option value="4">4 - Skeleton</option>
            </select>
            <label> Quantity </label> <input type="number" name="quantity-input" id="quantity-input" value="0" min="0">
      </fieldset>
          <input class="btn" type="submit" id="add-deck-card" value="Add Deck_Card">
          {{!-- <input class="btn" type="button" value="cancel" onClick="browseDeckCards()"> --}}
	</form> 
</div><!-- insert -->