<h1>Card Smashers Database UI</h1>
<ul>
    <li><a href="/players.html">Players:</a> view or add Players.</li>
    <li><a href="/matches.html">Matches:</a> view, add, or update Matches.</li>
    <li><a href="/decks.html">Decks:</a> view, add, or delete Decks.</li>
    <li><a href="/cards.html">Cards:</a> view or add Cards.</li>
    <li><a href="/deck_cards.html">Deck Cards:</a> view Cards in all Decks or a specified Deck, or add Cards to a Deck.</li>    
</ul>
