<h1>Players</h1>

[ <a href="/">Home</a> | <a href="/players">Players</a> | <a href="matches.html">Matches</a> | <a href="decks.html">Decks</a> | <a href="cards.html">Cards</a> | <a href="deck_cards.html">Deck_Cards</a> ]

<div id="browse">
<!-- Make this a button?-->
<p><a href="#" onClick="newPlayer()">New Player</a></p>
<table border="1" cellpadding="5">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.PlayerID}}</td>
            <td>{{this.Username}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<p>&nbsp;</p>
</div> <!-- browse -->

<div id="insert">
    <form method="POST" id="addPlayer">
      <p></p>
        <legend><strong>Add Player</strong></legend>
          <fieldset class="fields">
            <label> Username </label> <input type="text" name="Username">
      </fieldset>
          <input class="btn" type="submit" id="addPlayer" value="Add Player">
          <input class="btn" type="button" value="cancel" onClick="browsePlayers()">
	</form>
</div> <!-- insert -->